.hero {
  background: url('../assets/be4e50a2d1cc748f84ccdfcb7ed91b2a.jpg');
  height: 668px; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-position: bottom 1px left 50px; 
  position: relative;

}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.info {
  width: 588px;
  height: 550px;
 z-index: 100;
  left: 50%; 
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  color: white;
}

.info p {
  font-family: Roboto Condensed;
font-size: 84px;
font-weight: 400;
line-height: 84px;
letter-spacing: 2px;
text-align: center;

}

.info h3{
  font-family: Roboto Condensed;
font-size: 18px;
font-weight: 400;
line-height: 20px;
text-align: center;

}

.info button {
 
}

.pagination{
  width: 50px;
height: 10px;
margin-top: 50px !important;
left: 487px;

opacity: 0px;
margin: 0 auto;
cursor: pointer;
display: flex;
gap: 5px;
}



.first{
 
  width: 10px;
  height: 10px;  
  border: 1px solid rgba(43, 64, 116, 1);
  background-color: rgba(43, 64, 116, 1);
  border-radius: 100%;
}

.second{
  width: 10px;
  height: 10px;
  left: 20px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
   
  border: 1px solid #476E4D;

  border-radius: 100%;
}
.arrow {

  top: 253px;
  left: 0 auto;
z-index:  20000;
  position: absolute; 
}


.right {
display: flex;
justify-content: center;
align-items: center;
  background: #2B4074;
  width: 56px;
height: 56.1px;


}



.left {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9F6E5;
  width: 56px;
  height: 56.1px;
}
@media screen and (max-width: 426px) {
  .info p {
    font-family: Roboto Condensed;
  font-size: 22px;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: 2px;
  text-align: center;
  
  }
  .info h3{
display: none;
  
  }
}